* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blue;
  text-align: center;
  margin: 20px;
}

body {
  font-family: Arial, sans-serif;
  /* Adds a modern font */
  background-color: #f4f4f4;
  /* Soft gray background */
  height: 100vh;
  /* Full viewport height */
  background-image: linear-gradient(to bottom, #00aaff, #003366);
}

input,
label {
  display: block;
}

label {
  color: #003366;
  /* Dark blue text */
}

input {
  width: 100%;
}

.submit {
  margin: 15px auto;
  width: 50%;
  background-color: rgb(0, 158, 249);
  border-radius: 5px;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent white background */
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  border: 2px solid black;
  padding: 15px;
}
.g-recaptcha {

    display: flex;
    justify-content: center;
}
